<!DOCTYPE html>
<html>
<head>
	<style>
	.highlight {background-color:yellow;}
	li font.this{
		color:#F00;
	}
	</style>
    <meta charset="UTF-8">
    <title>AngularJs</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myFriends">
 
    <p>name:<input type="text" ng-model="searchname" class="myInput">   </p>   
    <ul>
        <li ng-repeat="friend in friends" ng-if="friend.name.match(searchname)">
            <font class="abc">{{friend.name}},{{friend.birth}},{{friend.phone}},{{friend.email}}</font>
        </li>
    </ul>
   
    <script>
        var app = angular.module('myApp',[]);
        app.controller('myFriends',function($scope,$http){
            $http.get("friends.json").then(function(res){
                $scope.friends = res.data;
            });
        });
        $(function(){
        	$(".myInput").on("keydown",function(){

        		check();
        	});


        	function check(){
        		if($(".myInput").val() != "") $(".abc").addClass("this");
        		if($(".myInput").val() == "") $(".abc").removeClass("this");
        	}
        });
        
    </script>      
 
</body>
</html>